<div id="test" #container class="container">
    <div class="top-container">
        <span class="calc-display">{{ getDisplayValue() }}</span>
    </div>
    <div class="bottom-container">
        <div class="left-container">
            <div class="symbol-container">
                <button (click)="clickOperator('allClear')" class="symbol">AC</button>
                <!-- <button (click)="clickOperator('clear')" class="symbol">C</button> -->
                <button (click)="clickOperator('plusMinus')" class="symbol plus-minus">+/−</button>
                <button (click)="clickOperator('percent')" class="symbol test">%</button>
            </div>
            <div class="number-container">
                <button (click)="clickNumber(7)" class="number">7</button>
                <button (click)="clickNumber(8)" class="number">8</button>
                <button (click)="clickNumber(9)" class="number">9</button>
                <button (click)="clickNumber(4)" class="number">4</button>
                <button (click)="clickNumber(5)" class="number">5</button>
                <button (click)="clickNumber(6)" class="number">6</button>
                <button (click)="clickNumber(1)" class="number">1</button>
                <button (click)="clickNumber(2)" class="number">2</button>
                <button (click)="clickNumber(3)" class="number">3</button>
                <button (click)="clickNumber(0)" class="number zero">0</button>
                <button (click)="clickOperator('dot')" class="number">.</button>
            </div>
        </div>
        <div class="right-operator-container">
            <button [class.active]="isActiveOperator('divide')" (click)="clickOperator('divide')"
                class="right-operator">÷</button>
            <button [class.active]="isActiveOperator('multiply')" (click)="clickOperator('multiply')"
                class="right-operator">×</button>
            <button [class.active]="isActiveOperator('minus')" (click)="clickOperator('minus')"
                class="right-operator">−</button>
            <button [class.active]="isActiveOperator('add')" (click)="clickOperator('add')" class="right-operator">+</button>
            <button (click)="clickOperator('equal')" class="right-operator">=</button>
        </div>
    </div>
</div>
