:host {
    overflow: auto;
    resize: both;
    width: 400px;
    height: 700px;
    background: white;
}

.container {
    min-width: 750px;
    max-width: 750px;
    min-height: 1334px;
    max-height: 1334px;
    display: flex;
    flex-direction: column;
    background: black;
    padding: 0px 33px 32px 32px;
    border-style: solid;
    border-width: 1px;
    border-radius: 75px;
    transform: scale(0.5);
    transform-origin: 0 0;
    cursor: default;
    button {
        outline: unset;
    }
}

.top-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .calc-display {
        flex: 1;
        height: 100px;
        font-size: 190px;
        font-weight: 100;
        margin: 0px -5px 50px 0px;
        display: flex;
        align-items: center;
        direction: rtl;
        color: white;
    }
}

.bottom-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.right-operator-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .right-operator:active {
        transition: unset;
        background: #fcc78d;
    }
    .right-operator {
        margin: 28px 0px 0px 0px;
        padding: 0px;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        font-size: 88px;
        border: none;
        background: #ff9500;
        color: white;
        padding-bottom: 12px;
        padding-right: 3px;
        transition: background 500ms ease-out;
    }
}

.number-container {
    .number:active {
        transition: unset;
        background: #737373;
    }
    .number {
        margin: 28px 24px 0px 0px;
        padding: 0px;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        font-size: 72px;
        border: none;
        background: #333333;
        color: white;
        padding-right: 3px;
        transition: background 500ms ease-out;
    }
    .zero {
        width: 328px;
        padding-left: 52px;
        text-align: left;
    }
}

.symbol-container {
    .symbol:active {
        transition: unset;
        background: #d9d9d9;
    }
    .symbol {
        margin: 28px 24px 0px 0px;
        padding: 0px;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        font-size: 58px;
        border: none;
        background: #a6a6a6;
        color: black;
        padding-right: 3px;
        transition: background 500ms ease-out;
    }
    .plus-minus {
        font-variant: diagonal-fractions;
    }
}

.left-container {
    display: flex;
    flex-direction: column;
}
